.DS_Store               
Thumbs.db               
*.log                  
*.stackdump            

# IDE specific directories/files
.idea/                  
.vscode/                
.zed/                   
.fleet/                 
.nova/                  
.phpunit.result.cache   
.phpactor.json          
auth.json               


/node_modules           
/vendor                 

/public/build           
/public/hot             
npm-debug.log          
yarn-error.log          
/dist                  
/build                 


.env                    
.env.backup            
.env.production        
Homestead.yaml          
Homestead.json          
/.vagrant               


/storage/*.key          
/storage/pail           
/public/storage         
/storage/app/public     
/bootstrap/cache       
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/         

*~                      # Emacs backup files
.#* # Emacs lock files
*.swp                   # Vim swap files
.DS_Store?              # macOS specific
._* # macOS resource fork files

composer.lock         

web.config             
.gitignore             
